@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fourrequest.css" />
    <link rel="stylesheet" href="~/css/submitrequest.css" />
    <link rel="stylesheet" href="~/css/admin_dashboard.css" asp-append-version="true" />

    <style>
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background: none;
            border-bottom: 3px solid #00b8e6;
        }

    </style>
</head>

<body id="adminLayoutMainDiv">


    @*<nav class="navbar navbar-light bg-white rounded px-4">
    <a asp-action="Admin" asp-controller="CredentialAdmin" height="25" width="25">
    <img class="hallodoc-img-1" src="~/images/hallodoc.png" alt="">
    </a>
    <div class="navdiv d-flex flex-row gap-2">

    @{
    try
    {
    int id = (int)Context.Session.GetInt32("AdminId");
    String username = Context.Session.GetString("UserName");

    if (username != null)
    {
    <h6 class="mt-2 text-secondary d-sm-block d-none">Welcome , <strong>@username</strong></h6>

    <a asp-action="registeredpatient" asp-controller="Home">
    <button style="background-color: transparent;" class="border-1 rounded text-info border-info p-2">
    <a asp-action="Logout" asp-controller="CredentialAdmin" class="text-decoration-none">
    <div class="logouttext"><span class="">Log out</span></div>
    </a>
    </button>
    </a>
    //<div class="logoutimg"><i class="fa-solid fa-arrow-right-from-bracket "></i></div>
    }
    }
    catch { }
    }
    <div id="img-btn">
    <img class="light-mode" role="button" src="~/images/light.png" alt="" id="img-mode">
    </div>
    </div>
    </nav>*@

    @*for responsive*@
    @{

        int id = (int)Context.Session.GetInt32("AdminId");
        String username = Context.Session.GetString("UserName");
    }
    <nav class="navbar navbar-light border-bottom px-1 bg-white" style="z-index:1050;">
        <div>
            <button class="btn d-sm-none border border-dark p-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="bi bi-list"></i>
            </button>
            <img class="hallodoc-img-1" src="~/images/hallodoc.png" alt="">
        </div>


        <div class="navdiv d-flex flex-row gap-2">
            <h6 class="mt-2 text-secondary d-sm-block d-none">Welcome , <strong>@username</strong></h6>
            <a asp-action="Admin" asp-controller="CredentialAdmin">
                <button style="background-color: transparent;" class="border-1 rounded text-info border-info p-2">
                    <div><i class="bi bi-box-arrow-right d-sm-none"></i></div>
                    <div class="logouttext"><span class="d-none d-sm-block">log out</span></div>
                </button>
            </a>

            <div>
                <div id="img-btn">
                    <img class="light-mode" role="button" src="~/images/light.png" alt="" id="img-mode">
                </div>
            </div>
        </div>
    </nav>

    @*for big screen*@
    <div class="mainnav bg-white d-none d-sm-block">
        <nav class="shadow">
            <div class="ps-4 nav nav-tabs border-bottom-0 border-start-0 d-flex border-end-0 border border-2" id="nav-tab" role="tablist">
                
               @* <button class="nav-link active me-4" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</button>
                <button class="nav-link me-4" id="nav-provider-location-tab" data-bs-toggle="tab" data-bs-target="#nav-provider-location" type="button" role="tab" aria-controls="nav-provider-location" aria-selected="false">Provider Location</button>
                <button class="nav-link me-4 my-profile-load-page" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My Profile</button>
                <button class="nav-link me-4" id="nav-provider-tab" data-bs-toggle="dropdown" data-bs-target="#nav-provider" type="button" role="tab" aria-controls="nav-provider" aria-selected="false">Providers</button>

                <button class="nav-link me-4" id="nav-partner-tab" data-bs-toggle="tab" data-bs-target="#nav-partner" type="button" role="tab" aria-controls="nav-partner" aria-selected="false">Partners</button>
                <button class="nav-link me-4" id="nav-access-tab" data-bs-toggle="tab" data-bs-target="#nav-access" type="button" role="tab" aria-controls="nav-access" aria-selected="false">Access</button>
                <button class="nav-link me-4" id="nav-record-tab" data-bs-toggle="tab" data-bs-target="#nav-record" type="button" role="tab" aria-controls="nav-record" aria-selected="false">Records</button>*@

                <a class="admin-layout-nav admin-layout-nav-active text-secondary fw-bold me-2" id="nav-home-tab" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
                <a class="admin-layout-nav text-secondary fw-bold me-1" id="nav-provider-location-tab">Provider Location</a>
                <a class="admin-layout-nav text-secondary fw-bold nav-profile-tab-for-load-profile" id="nav-profile-tab" asp-action="AdminProfile" asp-controller="Admin">My Profile</a>

                <a class="admin-layout-nav text-secondary fw-bold btn dropdown shadow-none" id="nav-provider-tab" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Providers</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a id="provider-tab" asp-action="ProviderMenu" asp-controller="Provider" class="dropdown-item text-center">Provider</a>
                    <a id="provider-scheduling" class="dropdown-item text-center">Scheduling</a>
                    <a class="dropdown-item text-center">Invoicing</a>
                </div>
                <a class="admin-layout-nav text-secondary fw-bold" id="nav-partner-tab">Partners</a>
                <a class="admin-layout-nav text-secondary fw-bold" id="nav-access-tab" asp-controller="Access" asp-action="AccessRole">Access</a>
                <a class="admin-layout-nav text-secondary fw-bold" id="nav-record-tab">Records</a>
            </div>
        </nav>
    </div>

    <div>

        <div class="offcanvas offcanvas-start d-sm-none" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h6 class="offcanvas-title" id="offcanvasExampleLabel">Welcome , <strong>@username</strong></h6>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <div class="nav nav-tabs border-bottom-0 border-start-0 border-end-0 border border-2 d-block" id="nav-tab" role="tablist">
                    <button class="nav-link active me-4" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Dashboard</button>
                    <button class="nav-link me-4" id="nav-provider-location-tab" data-bs-toggle="tab" data-bs-target="#nav-provider-location" type="button" role="tab" aria-controls="nav-provider-location" aria-selected="false">Provider Location</button>
                    <button class="nav-link me-4 my-profile-load-page" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My Profile</button>
                    <button class="nav-link me-4" id="nav-provider-tab" data-bs-toggle="tab" data-bs-target="#nav-provider" type="button" role="tab" aria-controls="nav-provider" aria-selected="false">Providers</button>

                   
                    <button class="nav-link me-4" id="nav-partner-tab" data-bs-toggle="tab" data-bs-target="#nav-partner" type="button" role="tab" aria-controls="nav-partner" aria-selected="false">Partners</button>
                    <button class="nav-link me-4" id="nav-access-tab" data-bs-toggle="tab" data-bs-target="#nav-access" type="button" role="tab" aria-controls="nav-access" aria-selected="false">Access</button>
                    <button class="nav-link me-4" id="nav-record-tab" data-bs-toggle="tab" data-bs-target="#nav-record" type="button" role="tab" aria-controls="nav-record" aria-selected="false">Records</button>

                </div>
            </div>
        </div>
        @RenderBody()
    </div>


    @*<div class="fixed-bottom navbar bg-dark d-flex justify-content-end" id="terms-admin">
    <div class="d-flex text-light fw-normal small p-2 mx-3 footer">
    <span>Terms of Conditions &nbsp;</span><span>|</span><span>&nbsp;&nbsp;Privacy Policy</span>
    </div>
    </div>*@



    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/darklight.js" asp-append-version="true"></script>
    <script src="/js/Admin/Admindashboard.js" asp-append-version="true"></script>

</body>
</html>

<script>
    try {
        const phoneInputField = document.querySelector("#tel");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    }
    catch {

    }
</script>
