@using Services.Viewmodels
@model ProviderOnCall
@{
    Layout = null;
}

<Partial name="notification" />

<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <h4>MDs On Call</h4>
        <a asp-controller="Scheduling" asp-action="Scheduling"
           class="btn m-0 btn-outline-info  px-2 ">
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </a>
    </div>

    <div class="mt-3">

        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <select name="regionname" class="form-select shadow-none mt-3" id="regionDropDownProviderOnCall" asp-for="selectedRegionid">
                    <option class="regionselect" value="">All Region</option>
                    @foreach (var item in Model.regions)
                    {
                        <option class="regionselect" value="@item.Regionid" itemid="@item.Regionid">@item.Name</option>

                    }
                </select>
            </div>
            <div class="d-flex">
                <a asp-controller="Scheduling" asp-action="Scheduling" class="px-2 py-0 mx-2 text-white btn-info border-0 shadow-none rounded d-flex align-items-center text-decoration-none">
                    <i class="bi bi-plus-square"></i>
                    <span class="d-none d-md-block ps-2">
                        Calender View
                    </span>
                </a>
                <button class="p-2 mx-2 text-white rounded btn-info border-0 shadow-none d-flex align-items-center requestedshifts">
                    <i class="bi bi-plus-square"></i>
                    <span class="d-none d-lg-block ps-2">Shifts For Review</span>
                </button>
            </div>
        </div>
        <div class="container-fluid bg-white py-2 shadow mt-3">
            <div class="row px-3 pt-2 pb-3">
                <h5 class="mt-2">MD's On Call</h5>
                @foreach (var item in Model.ondutyphysicianlist)
                {
                    <div class="col-4 py-2 d-flex flex-row align-items-center">
                        <div class="pe-2">
                            @if (item.Photo == null)
                            {
                                <i class="fa-solid fa-user fa-xl d-flex justify-content-center align-items-center" style="height:60px; width:60px"></i>
                            }
                            else
                            {
                                <img class="" src="@item.Photo" style="height:60px; width:60px" />
                            }
                        </div>
                        <span>@item.Firstname @item.Lastname</span>
                    </div>

                }
                <hr class="my-4" />
                <h5>Physician off Duty</h5>
                @foreach (var item in Model.offdutyphysicianlist)
                {
                    <div class="col-4 py-2 d-flex flex-row align-items-center">
                        <div class="pe-2">
                            @if (item.Photo == null)
                            {
                                <i class="fa-solid fa-user fa-xl d-flex justify-content-center align-items-center" style="height:60px; width:60px"></i>
                            }
                            else
                            {
                                <img class="" src="@item.Photo" style="height:60px; width:60px" />
                            }
                        </div>
                        <span> @item.Firstname @item.Lastname</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="d-none" id="currentDateValue">
    @DateTime.Now.Date.ToString("MMM dd yyyy")
</div>

<script src="/js/Scheduling/Scheduling.js" asp-append-version="true"></script>
