@using Services.Viewmodels

@model AdminDashboardViewModel;


@{
    Layout = "header_dashboard";
    ViewData["Title"] = "Dashboard";

}

@Html.Partial("notification")

@*send link modal*@

<div class="modal fade rounded-3 shadow" id="SendLinkAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Send Link</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="SendLinkAdminModal" method="post">
                <div class="modal-body">

                    <small class="text-secondary">To Send Create Patient Request Page in Email And Phone</small>
                    <div class="form-floating mt-3">
                        <input type="text" id="sendlink-name-modal" class="form-control shadow-none" name="name" placeholder="Name">
                        <label class="FloatingInput">Name</label>
                        <span class="small text-danger" id="sendlink-name"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input type="text" id="sendlink-phonenumber-modal" class="form-control shadow-none" name="phonenumber" placeholder="Phonenumber" maxlength="10">
                        <label class="FloatingInput">Phonenumber</label>
                        <span class="small text-danger" id="sendlink-phonenumber"></span>

                    </div>

                    <div class="form-floating mt-3">
                        <input type="email" id="sendlink-email-modal" class="form-control shadow-none" name="email" placeholder="Email">
                        <label class="FloatingInput">Email</label>
                        <span class="small text-danger" id="sendlink-email"></span>

                    </div>


                </div>
                <div class="modal-footer border-0 pt-0 pb-3">
                    <button type="button" class="btn btn-info text-white shadow-none" id="sendlink-submit">Send</button>
                    <button type="button" class="btn btn-outline-info shadow-none" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*Clear Case Modal *@
<div class="modal fade rounded-3 shadow" id="ClearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content py-4">
            <form asp-action="ClearModal" method="post">
                <div class="modal-body py-0">
                    <div class="d-flex justify-content-center py-4">

                        <img src="/images/alert.png" class="w-25 h-25 d-flex justify-content-center" />
                    </div>
                    <input type="number" name="requestid" class="requestid" />


                    <h4 class="d-flex justify-content-center">Confirmation For Clear Case</h4>

                    <div class="d-flex justify-content-center align-items-center text-secondary px-4 py-2">
                        <p class="d-flex justify-content-center small">Are sure you want to clear this request? Once clear this request then you are not able to see this request</p>
                    </div>
                </div>
                <div class="modal-footer border-0 d-flex justify-content-center py-0">
                    <button type="submit" class="btn btn-info text-white">Clear</button>
                    <button type="button" class="btn btn-outline-info shadow-none" data-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*Send agreement*@

<div class="modal fade rounded-3 shadow" id="exampleModalAgreement" tabindex="-1" role="dialog" aria-labelledby="exampleModalAgreement" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Send Agreement</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <i class="bi bi-circle-fill" id="requesttype-dot"></i> &nbsp;<span id="requesttype-agreement"></span>
                <form asp-action="SendAgreementModal" method="post">
                    <small class="text-secondary">To Send Agreement please make sure you are updating the correct contact information below for the responsible party.</small>
                    <input type="number" name="requestid" class="requestid" />


                    <div class="form-floating mt-3">
                        <input type="text" id="agreement-phone" class="form-control shadow-none" placeholder="Phone Number" maxlength="10">
                        <label class="FloatingInput" for="Phone Number">Phone Number</label>
                        <span id="SendAgreementModalphoneSpan" class="small text-danger"></span>

                    </div>


                    <div class="form-floating mt-4">
                        <input type="email" id="agreement-email" class="form-control shadow-none" placeholder="Email" name="email">
                        <label class="FloatingInput" for="Email">Email</label>
                        <span id="SendAgreementModalemailSpan" class="small text-danger"></span>

                    </div>


                    <div class="d-flex float-end mt-4">
                        <button id="SendAgreementModalSubminbtn" type="button" class="btn btn-info text-white mx-2 shadow-none">Send</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



@*cancel modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Confirm Cancellation</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="cancelCaseModal" method="post">
                    <div class="mb-3">Patient Name : <span class="patientname text-info fw-semibold"></span> </div>
                    <input type="number" name="id" class="requestid" hidden />


                    <div class="form-group">
                        <select id="CancelModalFirstDropDownSelect" class="form-select form-select-lg fs-6 shadow-none" aria-label=".form-select-lg example">
                            <option class="fs-6" selected hidden value="">Reason for Cancellation</option>
                            @foreach (var item in Model.casetags)
                            {
                                <option class="fs-6">@item.Name</option>
                            }

                        </select>
                        <span id="CancelModalFirstDropDownSpan" class="small text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <textarea id="CancelModalNote" class="form-control shadow-none" asp-for="blocknotes" placeholder="Patient Notes" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Provide Additional Notes</label>
                        <span id="CancelModalNoteSpan" class="small text-danger"></span>

                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="CancelModalSubminbtn" class="btn btn-info text-white mx-2 shadow-none">Confirm</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


@*Trasnfer modal*@
<div class="modal fade" id="exampleModalTransfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Transfer Request</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="assignCaseModal" method="post">
                    <small class="text-secondary">To assign this request,search and select another Physician.</small>
                    <input type="number" name="requestid" class="requestid" />

                    <div class="form-floating">
                        <select name="regionname" class="form-select shadow-none mt-3 getregion" id="TransferModalFirstDropDownSelect" aria-label="Floating label select example">
                            <option class="regionselect" selected hidden value="">Narrow Search By Region</option>

                            @foreach (var item in Model.regions)
                            {
                                <option class="regionselect" itemid="@item.Regionid">@item.Name</option>

                            }
                        </select>
                        <label class="text-secondary" for="floatingSelect">Narrow Search by Region</label>
                        <span id="TransferModalFirstDropDownSpan" class="small text-danger"></span>

                    </div>

                    <div class="form-group">
                        <select id="TransferModalSecondDropDownSelect" name="physicianname" class="form-select form-select-lg mt-3 fs-6 shadow-none default-phy physiciandrop" aria-label=".form-select-lg example">
                            <option class="fs-6" hidden value="">Select Physician</option>


                        </select>
                        <span id="TransferModalSecondDropDownSpan" class="small text-danger"></span>

                    </div>

                    <div class="form-floating mt-3">
                        <textarea id="TransferModalNote" class="form-control shadow-none" placeholder="Description" style="height: 100px" asp-for="blocknotes"></textarea>
                        <label for="floatingTextarea2">Description</label>
                        <span id="TransferModalNoteSpan" class="small text-danger"></span>

                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="TransferModalSubminbtn" class="btn btn-info text-white mx-2 shadow-none">Submit</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@*assign modal*@
<div class="modal fade" id="exampleModalAssign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Assign Request</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="assignCaseModal" method="post">
                    <small class="text-secondary">To assign this request,search and select another Physician.</small>
                    <input type="number" name="requestid" class="requestid" />

                    <div class="form-floating">
                        <select name="regionname" class="form-select shadow-none mt-3 getregion" id="AssignModalFirstDropDownSelect" aria-label="Floating label select example">
                            <option class="regionselect" selected hidden value="">Narrow Search By Region</option>

                            @foreach (var item in Model.regions)
                            {
                                <option class="regionselect" itemid="@item.Regionid">@item.Name</option>

                            }
                        </select>
                        <label class="text-secondary" for="floatingSelect">Narrow Search by Region</label>
                        <span id="AssignModalFirstDropDownSpan" class="text-danger small"></span>
                    </div>

                    <div class="form-group">
                        <select name="physicianname" id="AssignModalSecondDropDownSelect" class="form-select form-select-lg mt-3  fs-6 shadow-none default-phy physiciandrop" aria-label=".form-select-lg example">
                            <option class="fs-6" selected hidden value="">Select Physician</option>


                        </select>
                        <span id="AssignModalSecondDropDownSpan" class="text-danger small"></span>

                    </div>

                    <div class="form-floating mt-3">
                        <textarea class="form-control shadow-none" id="AssignModalNote" placeholder="Description" style="height: 100px" asp-for="blocknotes"></textarea>
                        <label for="floatingTextarea2">Description</label>
                        <span id="AssignModalNoteSpan" class="text-danger small"></span>
                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="AssignModalSubminbtn" class="btn btn-info text-white mx-2 shadow-none">Submit</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@*block modal*@
<div class="modal fade" id="exampleModalBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Confirm Block</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="BlockCaseModal" method="post">
                    <input type="number" name="requestid" class="requestid" hidden />
                    <div class="mb-3">Patient Name : <span class="patientname text-info fw-semibold"></span> </div>


                    <div class="form-floating">
                        <textarea id="BlockModalNote" class="form-control shadow-none" asp-for="blocknotes" placeholder="Reason for Block Request" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Reason for Block Request</label>
                        <span id="BlockModalNoteSpan" class="small text-danger"></span>

                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="BlockModalSubminbtn" class="btn btn-info text-white mx-2 shadow-none">Confirm</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        @Html.Partial("CardWithTable")
    </div>

    <div class="tab-pane fade" id="nav-provider-location" role="tabpanel" aria-labelledby="nav-provider-location-tab">
        2
    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    </div>

    <div class="tab-pane fade" id="nav-provider" role="tabpanel" aria-labelledby="nav-provider-tab">
        4
    </div>

    <div class="tab-pane fade" id="nav-partner" role="tabpanel" aria-labelledby="nav-partner-tab">
        5
    </div>

    <div class="tab-pane fade" id="nav-access" role="tabpanel" aria-labelledby="nav-access-tab">
        6
    </div>

    <div class="tab-pane fade" id="nav-record" role="tabpanel" aria-labelledby="nav-record-tab">
        7
    </div>
</div>

<script src="/js/Admin/Admindashboard.js" asp-append-version="true"></script>