@using Services.Viewmodels
@model AdminDashboardViewModel;
@{
    Layout = null;
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
@*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<div class="container-fluid">
    <nav>
        <div class="nav nav-tabs row g-0 border-0 mt-4" id="status-tab" role="tablist">
            <div class="allstatus ">
                <button class="w-100 nav-link dashboardtab active position-relative" id="status-new" data-bs-toggle="tab" data-bs-target="#s_new" type="button" role="tab" aria-controls="s_new" aria-selected="true">
                    <div class="p-2 new rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons float-start"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">

                            @Model.requests.Count(x => x.Status == 1)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus ">
                <button class="w-100 nav-link dashboardtab position-relative" id="status-pending" data-bs-toggle="tab" data-bs-target="#s_pending" type="button" role="tab" aria-controls="s_pending" aria-selected="false">
                    <div class="p-2 pending rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons float-start"><i class="bi bi-person-exclamation"></i></div><div class="small fw-bold">PENDING</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 2)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>

            <div class="allstatus ">
                <button class="w-100 nav-link dashboardtab position-relative" id="status-active" data-bs-toggle="tab" data-bs-target="#s_active" type="button" role="tab" aria-controls="s_active" aria-selected="false">
                    <div class="p-2 activecase rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons float-start"><i class="bi bi-check2-circle"></i></div><div class="small fw-bold">ACTIVE</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 4 || x.Status == 5)

                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>

            
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100" id="status-conclude" data-bs-toggle="tab" data-bs-target="#s_conclude" type="button" role="tab" aria-controls="s_conclude" aria-selected="false">
                    <div class="p-2 conclude rounded-3">
                        <div class="d-flex">
                            <div class="px-2  icons float-start"><i class="bi bi-arrow-clockwise"></i></div><div class="small fw-bold">CONCLUDE</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 6)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100" id="status-toclose" data-bs-toggle="tab" data-bs-target="#s_toclose" type="button" role="tab" aria-controls="s_toclose" aria-selected="false">
                    <div class="p-2 toclose rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start"><i class="bi bi-person-lock"></i></div><div class="small fw-bold">TO CLOSE</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 3 || x.Status == 7 || x.Status == 8)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100" id="status-unpaid" data-bs-toggle="tab" data-bs-target="#s_unpaid" type="button" role="tab" aria-controls="s_unpaid" aria-selected="false">
                    <div class="p-2 unpaid rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start"><i class="bi bi-currency-dollar"></i></div><div class="small fw-bold">UNPAID</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 9)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-row justify-content-between mx-4 mt-4">
        <div class="d-flex align-items-center">
            <div class="h4" style="font-size:clamp(12px,4vw) !important;">
                Patients<small class="h6" style="color:#203f9a" id="state"> (New)</small>
            </div>
        </div>
        <div class="d-flex">

            <div class="p-2 px-2 text-white mx-1 bg-info rounded small" role="button">
                <i class="fa-regular fa-paper-plane  pe-1"></i>
                Send Link
            </div>
            <div class="p-2 px-2 text-white mx-1 bg-info rounded small" role="button">
                <i class="fa-solid fa-file-pen pe-1"></i>

                Create Requests
            </div>
            <div class="p-2 px-2 text-white mx-1 bg-info rounded small" role="button">
                <i class="fa-solid fa-share pe-1"></i>

                Export
            </div>
            <div class="p-2 px-2 text-white mx-1 bg-info rounded small" role="button">
                <i class="fa-solid fa-share pe-1"></i>

                Export All
            </div>
            <div class="p-2 px-2 text-white mx-1 bg-info rounded small" role="button">
                <i class="fa-solid fa-user-doctor pe-1"></i>

                Request DTY Support
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-between mt-4 mx-4">
        <div class="dropdown d-flex">
            <input class="form-control search-input fuzzy-search rounded-1 form-control-sm me-2 shadow-none" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn bg-white border border-dark dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-magnifying-glass fa-xs"></i> <label class="me-4">All Region</label>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>

        <div class="d-flex ms-4">

            <div class="d-flex justify-content-center align-items-center px-2">
                <input type="radio" class="btn-check" name="requestby" id="requestbyAll" autocomplete="off">
                <label class="btn" for="requestbyAll">All</label>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2">
                <input type="radio" class="btn-check" name="requestby" id="1" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #5fbc61;"></i>
                <label class="btn p-1 border-0" for="1">Patient</label>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2">
                <input type="radio" class="btn-check" name="requestby" id="2" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #ed9124;"></i>
                <label class="btn p-1 border-0" for="2">Family</label>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2">
                <input type="radio" class="btn-check" name="requestby" id="3" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1  " style="color:   #e36478;"></i>
                <label class="btn p-1 border-0" for="3">Concierge</label>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2">
                <input type="radio" class="btn-check" name="requestby" id="4" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #0c7db7;"></i>
                <label class="btn p-1 border-0" for="4">Business</label>
            </div>
            <div class="d-flex justify-content-center align-items-center px-2">
                <input type="radio" class="btn-check" name="requestby" id="5" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 " style="color:  #943db8;"></i>
                <label class="btn p-1 border-0" for="5">VIP</label>
            </div>

        </div>
    </div>



    <div class="tab-content mt-2" id="status-tabContent" ">
    @*<div class="tab-pane fade show active" id="s_new" role="tabpanel" aria-labelledby="status-new">

        </div>
        <div class="tab-pane fade" id="s_pending" role="tabpanel" aria-labelledby="status-panding">
        Patients(Pending)
        </div>
        <div class="tab-pane fade" id="s_active" role="tabpanel" aria-labelledby="status-active">
        Patients(Active)
        </div>
        <div class="tab-pane fade" id="s_conclude" role="tabpanel" aria-labelledby="status-conclude">
        Patients(Conclude)
        </div>
        <div class="tab-pane fade" id="s_toclose" role="tabpanel" aria-labelledby="status-toclose">
        Patients(To Close)
        </div>
        <div class="tab-pane fade" id="s_unpaid" role="tabpanel" aria-labelledby="status-unpaid">
        Patients(Unpaid)
        </div>*@
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

        

    $(document).ready(function () {
        $('.form-select').change(function () {
            var regionId = $(this).find(":selected").attr('itemid'); // This will get the id of the selected region
            $.ajax({
                url: '/Admin/GetPhysicianByRegionId', // Replace with your server script URL
                type: 'GET',
                data: { regionId: regionId },
                success: function (data) {
                    console.log(data);

                    console.log(data);
                    var secondDropdown = $('.physiciandrop'); // Replace with your second dropdown selector
                    secondDropdown.empty(); // Clear existing options

                    $.each(data, function (index, item) {
                        secondDropdown.append($('<option>', {
                            value: item.firstname + item.lastname, // Replace with the actual value from your data
                            text: item.firstname + item.lastname // Replace with the actual text from your data
                        }));
                    });
                }
            });
        });
    

   
        $.ajax({
            url: '/Admin/NewState',
            success: function (response) {
                $('#status-tabContent').html('NewState');
                $('#dtBasicExample').html(response);

            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    

   
        var target1 = localStorage.getItem(target1);
        console.log(target1);
        $('.dashboardtab').on('click', function (e) {
            e.preventDefault();
            $('.dashboardtab').removeClass('active');
            $(this).addClass('active');
            var target1 = $(this).data('bs-target');
            console.log(target1);
            localStorage.setItem('target1', target1);
            console.log(localStorage.getItem(target1));
            var url;
            switch (target1) {
                case '#s_new':
                    $('#state').html("(New)")
                    url = '/Admin/NewState';
                    break;
                case '#s_pending':
                    $('#state').html("(Pending)")
                    url = '/Admin/PendingState';
                    break;
                case '#s_active':
                    $('#state').html("(Active)")
                    url = '/Admin/ActiveState';
                    break;
                case '#s_conclude':
                    $('#state').html("(Conclude)")
                    url = '/Admin/ConcludeState';
                    break;
                case '#s_toclose':
                    $('#state').html("(ToClose)")
                    url = '/Admin/ToCloseState';
                    break;
                case '#s_unpaid':
                    $('#state').html("(Unpaid)")
                    url = '/Admin/UnpaidState';
                    break;

                default:
                    url = '/Admin/Admindashboard';
            }


            $.ajax({
                url: url,

                success: function (response) {
                    $('#status-tabContent').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });

        });
        console.log(target1);
        $('.dashboardtab[data-bs-target="' + target1 + '"]').trigger('click');

        if (target1 == null) {
            $('.dashboardtab[data-bs-target="#s_new"]').trigger('click');

        }
    });



</script>

