@using Services.Viewmodels
@model AdminDashboardViewModel;
@{
    Layout = null;
}

<div class="container-fluid p-0 p-sm-3 mb-5">
    <nav>
        <div class="nav nav-tabs row g-0 border-0 mt-4" id="status-tab" role="tablist">
            <div class="allstatus ">
                <button class="w-100 nav-link dashboardtab active position-relative" id="status-new" data-bs-toggle="tab" data-bs-target="#s_new" type="button" role="tab" aria-controls="s_new" aria-selected="true">
                    <div class="p-2 new rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons float-start"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">

                            @Model.requests.Count(x => x.Status == 1)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus ">
                <button class="w-100 nav-link dashboardtab position-relative" id="status-pending" data-bs-toggle="tab" data-bs-target="#s_pending" type="button" role="tab" aria-controls="s_pending" aria-selected="false">
                    <div class="p-2 pending rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons float-start"><i class="bi bi-person-exclamation"></i></div><div class="small fw-bold">PENDING</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 2)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>

            <div class="allstatus ">
                <button class="w-100 nav-link dashboardtab position-relative" id="status-active" data-bs-toggle="tab" data-bs-target="#s_active" type="button" role="tab" aria-controls="s_active" aria-selected="false">
                    <div class="p-2 activecase rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons float-start"><i class="bi bi-check2-circle"></i></div><div class="small fw-bold">ACTIVE</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 4 || x.Status == 5)

                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>


            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100" id="status-conclude" data-bs-toggle="tab" data-bs-target="#s_conclude" type="button" role="tab" aria-controls="s_conclude" aria-selected="false">
                    <div class="p-2 conclude rounded-3">
                        <div class="d-flex">
                            <div class="px-2  icons float-start"><i class="bi bi-arrow-clockwise"></i></div><div class="small fw-bold">CONCLUDE</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 6)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100" id="status-toclose" data-bs-toggle="tab" data-bs-target="#s_toclose" type="button" role="tab" aria-controls="s_toclose" aria-selected="false">
                    <div class="p-2 toclose rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start"><i class="bi bi-person-lock"></i></div><div class="small fw-bold">TO CLOSE</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 3 || x.Status == 7 || x.Status == 8)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
            <div class="allstatus">
                <button class="nav-link dashboardtab position-relative w-100" id="status-unpaid" data-bs-toggle="tab" data-bs-target="#s_unpaid" type="button" role="tab" aria-controls="s_unpaid" aria-selected="false">
                    <div class="p-2 unpaid rounded-3">
                        <div class="d-flex">
                            <div class="px-2 icons  float-start"><i class="bi bi-currency-dollar"></i></div><div class="small fw-bold">UNPAID</div>
                        </div>
                        <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                            @Model.requests.Count(x => x.Status == 9)
                        </div>
                    </div>
                    <div class="bottomarrow"></div>
                </button>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-row justify-content-between mx-4 mt-4">
        <div class="d-flex align-items-center">
            <div class="h4" style="font-size:clamp(18px,4vw,22px);">
                Patients<small class="h6" style="color:#203f9a; font-size:clamp(12px,1.8vw,16px);" id="state"> (New)</small>
            </div>
        </div>
        <div class="d-flex">

            <div class="px-0 px-sm-2 p-1 p-sm-2 text-white mx-1 bg-info rounded small" role="button">
                <button class="bg-info border-0 text-white p-md-0" data-toggle="modal" data-target="#SendLinkAdminModal">

                    <i class="fa-regular fa-paper-plane "></i>
                    <span class="d-none d-md-inline-block ps-1 fontsize">
                        Send Link
                    </span>
                </button>
            </div>
            <div class="px-0 px-sm-2 p-1 p-sm-2 text-white mx-1 bg-info rounded small" role="button">
                <a class="bg-info border-0 text-white text-decoration-none px-1" asp-action="CreateRequestAdmin" asp-controller="Admin">

                    <i class="fa-solid fa-file-pen "></i>
                    <span class="d-none d-md-inline-block ps-1 fontsize">Create Requests</span>
                </a>

            </div>
            <div class="px-0 px-sm-2 p-1 p-sm-2 text-white mx-1 bg-info rounded small" role="button">
                <button class="download bg-info border-0 text-white " data-table="dtBasicExample">
                    <i class="fa-solid fa-share "></i>
                    <span class="d-none d-md-inline-block ps-1 fontsize">Export</span>
                </button>
            </div>
            <div class="px-0 px-sm-2 p-1 p-sm-2 text-white mx-1 bg-info rounded small" role="button">
                <button class="bg-info border-0 text-white exportall-download">
                    <i class="fa-solid fa-share-from-square "></i>
                    <span class="d-none d-md-inline-block ps-1 fontsize">Export All</span>
                </button>
            </div>
            <div class="px-0 px-sm-2 p-1 p-sm-2 text-white ms-1 bg-info rounded small" role="button">
                <button class="bg-info border-0 text-white">

                    <i class="fa-solid fa-user-doctor "></i>
                    <span class="d-none d-md-inline-block ps-1 fontsize">Request DTY Support</span>
                </button>
            </div>

        </div>
    </div>

    <div class="container-fluid  mt-3">
        <div class="row mx-1  rounded-top-4 py-3 bg-white d-sm-flex d-block justify-content-between bg-white px-2">

            @* <div class="d-flex justify-content-between mt-4 mx-4 bg-white rounded-top-4">
            <div class="d-flex flex-row p-3">*@

            <div class="d-flex rounded-2 border border-info col-12 col-md-3 col-xl-2 col-lg-3 py-2">
                <span class="search-icon"></span>
                <input id="searchInput" class="form-control search-input fontsize border-0 shadow-none p-0" type="search" placeholder="Search Patients" aria-label="Search">
            </div>
            <div class="d-flex col-12 col-md-3 col-xl-2 col-lg-2 align-items-center px-0 px-md-2 pt-2 pt-md-0">

                <select name="regionname" id="RegionSearch" class="form-select shadow-none getregion h-100" aria-label="Floating label select example">
                    <span class="search-icon "></span>

                    <option class="regionselect" value="1234" selected>All Regions</option>

                    @foreach (var item in Model.regions)
                    {
                        <option class="regionselect" value="@item.Regionid" itemid="@item.Regionid">@item.Name</option>
                    }
                </select>
            </div>

            <div class="col-12 col-md-6 col-lg-7 col-xl-8 d-inline-block d-md-flex justify-content-end align-items-center mt-sm-2 mt-4 mb-2 pe-0">

                <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs selected-border">
                    <input type="radio" class="btn-check" name="requestby" id="requestbyAll" autocomplete="off">
                    <label class="fontsize btn p-0 p-xl-2 font-size-xs border-0 shadow-none" for="requestbyAll">All</label>
                </div>
                <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs">
                    <input type="radio" class="btn-check" name="requestby" id="1" autocomplete="off">
                    <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:   #5fbc61;"></i>

                    <label class="fontsize btn p-0 p-xl-2 border-0 font-size-xs" for="1">Patient</label>
                </div>
                <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                    <input type="radio" class="btn-check" name="requestby" id="2" autocomplete="off">
                    <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #ed9124;"></i>
                    <label class="fontsize btn p-0 p-xl-2 border-0" for="2">Family</label>
                </div>
                <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                    <input type="radio" class="btn-check" name="requestby" id="3" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1  d-flex justify-content-center align-items-center" style="color:   #e36478;"></i>
                    <label class="fontsize btn p-0 p-xl-2 border-0" for="3">Concierge</label>
                </div>
                <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                    <input type="radio" class="btn-check" name="requestby" id="4" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #0c7db7;"></i>
                    <label class="fontsize btn p-0 p-xl-2 border-0" for="4">Business</label>
                </div>
                <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center ps-sm-2 ">
                    <input type="radio" class="btn-check" name="requestby" id="5" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #943db8;"></i>
                    <label class="fontsize btn p-0 p-xl-2 border-0" for="5">VIP</label>
                </div>
            </div>

        </div>
    </div>



    <div class="tab-content mx-3 bg-white" id="status-tabContent">
      
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saver"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>

<script src="~/js/Admin/excel-download.js" asp-append-version="true"></script>
<script src="~/js/Admin/CardWithTable.js" asp-append-version="true"></script>



<style>
    .fontsize{
        font-size:clamp(0.7rem,1.4vw,1rem);
    }

    .selected-border {
        border-bottom: 1px solid #00b8e6; /* Customize the border color and thickness */
    }
   
</style>

<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    const radioDivs = document.querySelectorAll('.d-inline-block');
    radioButtons.forEach((radio, index) => {
        radio.addEventListener('click', () => {
            radioDivs.forEach((div, divIndex) => {
                if (index-1 === divIndex) {
                    div.classList.add('selected-border');
                } else {
                    div.classList.remove('selected-border');
                }
            });
        });
    });
</script>