@using Services.Viewmodels
@model List<allrequestdataViewModel>;
    
<div class="table-responsive mx-4 bg-white pt-2">
    <table class="table mt-5 small align-middle d-none d-md-table" id="dtBasicExample">
        <thead>
            <tr class="bg-light">
                <th class="d-none"></th>
                <th class="d-none"></th>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Physician Name</th>
                <th scope="col">Date Of Service</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {


                var color = "green-dot";

                switch (item.RequestType)
                {
                    case 1:
                        {
                            color = "green-dot";
                            break;
                        }
                    case 2:
                        {
                            color = "orange-dot";
                            break;
                        }
                    case 3:
                        {
                            color = "pink-dot";
                            break;
                        }
                    case 4:
                        {
                            color = "cyan-dot";
                            break;
                        }
                    default:
                        {
                            color = "purple-dot";
                            break;
                        }
                }

                <tr class="@color">
                    <td class="d-none">@item.RequestType</td>
                    <td class="d-none">@item.RegionId</td>
                    <td>
                        <div class="d-flex justify-content-between align-items-center">

                            @item.PatientName <div class="btn btn-outline-light btn-sm"><i class="fa-regular fa-envelope fa-sm"></i></div>
                        </div>
                    </td>
                    <td>@item.PatientDOB</td>
                    <td>@item.RequestorName</td>
                    <td>@item.RequestedDate</td>
                    <td>
                        <div class="border rounded-1 p-1 d-flex justify-content-around ">
                            <i class="bi bi-telephone"></i>
                            @item.PatientPhone
                        </div>
                        <small>(Patient)</small>



                        @if (item.RequestType == 2 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Family/Friend)</small>

                        }
                        @if (item.RequestType == 3 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Concierge)</small>

                        }
                        @if (item.RequestType == 4 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Business)</small>

                        }
                    </td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">@item.Address</td>
                    <td>
                       
                        <div class="d-flex">
                            <button class="btn btn-outline-light p-1 me-2 shadow-none"
                                    type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-person-fill"></i>
                                <span>
                                    Patient
                                </span>
                            </button>

                            <button class="btn btn-outline-light p-1 shadow-none"
                                    type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-person-badge-fill"></i>
                                <span>
                                    Provider
                                </span>
                            </button>

                        </div>
                    </td>
                    <td>
                        <div class="dropstart ms-2">
                            <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">

                                <li>
                                    <button class="dropdown-item text-secondary Viewcase" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        View case
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary viewupload" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        View Uploads
                                    </button>
                                </li>
                                <li>
                                    <button value="@item.RequestId" class="dropdown-item text-secondary viewNotes">
                                        <i class="fa-solid fa-book-journal-whills me-2"></i>View Notes
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary orders" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        Orders
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        Doctors Note
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        Encounter
                                    </button>
                                </li>

                            </ul>
                        </div>
                    </td>


                </tr>
            }


        </tbody>
    </table>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="~/js/Admin/TableContent.js" asp-append-version="true"></script>

