@using Services.Viewmodels
@model List<allrequestdataViewModel>;

<div class="table-responsive px-4">
    <table class="table mt-5 small" id="dtBasicExample">
        <thead>
            <tr class="bg-light">
                <th class="d-none"></th>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Physician Name</th>
                <th scope="col">Date Of Service</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {


                var color = "green-dot";

                switch (item.RequestType)
                {
                    case 1:
                        {
                            color = "green-dot";
                            break;
                        }
                    case 2:
                        {
                            color = "orange-dot";
                            break;
                        }
                    case 3:
                        {
                            color = "pink-dot";
                            break;
                        }
                    case 4:
                        {
                            color = "cyan-dot";
                            break;
                        }
                    default:
                        {
                            color = "purple-dot";
                            break;
                        }
                }

                <tr class="@color">
                    <td class="d-none">@item.RequestType</td>
                    <td>@item.PatientName</td>
                    <td>@item.PatientDOB</td>
                    <td>@item.RequestorName</td>
                    <td>@item.RequestedDate</td>
                    <td>
                        <div class="border rounded-1 p-1 d-flex justify-content-around ">
                            <i class="bi bi-telephone"></i>
                            @item.PatientPhone
                        </div>
                        <small>(Patient)</small>



                        @if (item.RequestType == 2 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Family/Friend)</small>

                        }
                        @if (item.RequestType == 3 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Concierge)</small>

                        }
                        @if (item.RequestType == 4 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Business)</small>

                        }
                    </td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">@item.Address</td>
                    <td>
                        @item.ProviderEmail
                        <div class="d-flex">
                            <button class="btn btn-outline-light p-1 me-2 shadow-none"
                                    type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-person-fill"></i>
                                <span>
                                    Patient
                                </span>
                            </button>

                            <button class="btn btn-outline-light p-1 shadow-none"
                                    type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-person-badge-fill"></i>
                                <span>
                                    Provider
                                </span>
                            </button>

                        </div>
                    </td>
                    <td>
                        <div class="dropstart ms-2">
                            <button class="btn btn-outline-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">

                                <li>
                                    <button class="dropdown-item text-secondary Viewcase" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        View case
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary viewupload" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        View Uploads
                                    </button>
                                </li>
                                <li>
                                    <button value="@item.RequestId" class="dropdown-item text-secondary viewNotes">
                                        <i class="fa-solid fa-book-journal-whills me-2"></i>View Notes
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary orders" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        Orders
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        Doctors Note
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        Encounter
                                    </button>
                                </li>

                            </ul>
                        </div>
                    </td>


                </tr>
            }


        </tbody>
    </table>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script>

    var table = $('#dtBasicExample').DataTable({ dom: 'lrtip' }); // Initialize your DataTable
    $('input[type="search"]').on('keyup', function () {
        table.search(this.value).draw();
    });
    $('input[name="requestby"]').on('change', function () {
        var value = $(this).attr('id');
        console.log(value);
        if (value == 'requestbyAll') {
            table.columns(0).search('').draw();
        }
        else {
            table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    });

    $(document).ready(function () {
        $('.getname').on('click', function (e) {
            var name = $(this).attr('value');
            var requestid = $(this).attr('id');
            console.log(requestid);
            $('.requestid').val(requestid);
            $('.patientname').html(name);
        })
    })

    $(document).ready(function () {
        $('.Viewcase').on('click', function (e) {
            console.log("hello")
            var requestid = $(this).attr('value');
            console.log(requestid);
            $.ajax({
                url: '/Admin/ViewCase',
                type: 'GET',
                data: { id: requestid },
                success: function (response) {
                    $('#nav-tabContent').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });

    $(document).ready(function () {
        $('.viewNotes').on('click', function (e) {
            console.log("hello")
            var requestid = $(this).attr('value');
            console.log(requestid);
            $.ajax({
                url: '/Admin/ViewNotes',
                type: 'GET',
                data: { id: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $('.viewupload').on('click', function (e) {
            console.log("viewupload");
            var requestid = $(this).attr('value');
            console.log(requestid);
            $.ajax({
                url: '/Admin/ViewUpload',
                type: 'GET',
                data: { requestid: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        })

        $('.orders').on('click', function (e) {
            console.log("orders");

            var requestid = $(this).attr('value');

            $.ajax({
                url: '/Admin/Orders',
                type: 'GET',
                data: { requestid: requestid },
                success: function (response) {
                    $('#nav-home').html(response);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            })
        })
    });


</script>
