@using Services.Viewmodels
@model UserAllDataViewModel
@{
    Layout = "header_dashboard";
}
<Partial name="notification" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<div class="container">
    <div class="d-flex justify-content-between align-items-center w-100 my-3">
        <h4>Create Account</h4>
       <a asp-controller="Admin" asp-action="Admindashboard" class="text-decoration-none">
            <span class="back-btn p-2" style="color: #00b8e6;">&lt;Back</span>
        </a>
    </div>
    <div class="container-fluid my-3 bg-white shadow rounded-3">
        <form id="createAdminAccountForm">
            <div class="row px-2">

                <h5 class="my-3">Account Information</h5>
                <div class="col-12 col-sm-4 form-floating mb-3 ">
                    <input type="text" asp-for="UserName"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">User Name</label>
                    <span class="small text-danger" asp-validation-for="UserName"></span>
                </div>
                <div class="col-12 col-sm-4 form-floating mb-3">

                    <input type="text" asp-for="password"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">Password</label>
                    <span class="small text-danger" asp-validation-for="password"></span>
                </div>

                <div class="col-12 col-sm-4 form-floating">
                    <select class="form-select form-select-lg  fs-6 shadow-none" aria-label=".form-select-lg example" asp-for="selectedrole">
                        @foreach (var item in Model.rolelist)
                        {
                            <option class="fs-6">@item.Name</option>
                        }
                    </select>
                    <label for="floatingTextarea" class="text-secondary ms-3">Role</label>

                </div>

                @* ********************************************************************************************************************************************* *@


                <h5 class="mb-3">Administrator Information</h5>
                <div class="col-12 col-sm-6 form-floating mb-3 ">
                    <input type="text" asp-for="firstname"
                           class="form-control a" id="firstname-adminprofile"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">First Name</label>
                    <span class="small text-danger" asp-validation-for="firstname"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="lastname"
                           class="form-control a"
                           placeholder="Username" id="lastname-adminprofile"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">Last Name</label>
                    <span class="small text-danger" asp-validation-for="lastname"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3 ">
                    <input type="text" asp-for="email"
                           class="form-control emailadminprofileblur" id="email-adminprofile"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">Email</label>
                    <span class="small text-danger" asp-validation-for="email"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="confirmationemail"
                           class="form-control a"
                           placeholder="Username" id="confirmemail-adminprofile"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">Confirm Email</label>
                    <span class="small text-danger" asp-validation-for="confirmationemail"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <div class="form-control p-0">
                        <input asp-for="phonenumber"
                               type="tel" class="a" id="phone-CreateAdmin"
                               style="border: none; padding: 18px 2% 18px 50px; width:inherit" />
                        <span class="small text-danger" asp-validation-for="phonenumber"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 pt-2">
                    @foreach (var item in Model.regionlist)
                    {
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input a adminselectedregion-createadmin" type="checkbox" id="@item.Regionid" value="@item.Regionid">
                            <label class="form-check-label" for="@item.Regionid">@item.Name</label>
                        </div>
                    }
                </div>

                @* ********************************************************************************************************************************************* *@

                <h5 class="mb-3">Mailing & Billing Information</h5>
                <div class="col-12 col-sm-6 form-floating mb-3 ">
                    <input type="text" asp-for="address1" id="address1-adminprofile"
                           class="form-control m"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">Address 1</label>
                    <span class="small text-danger" asp-validation-for="address1"></span>

                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">

                    <input type="text" asp-for="address2" id="address2-adminprofile"
                           class="form-control m"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">Address 2</label>
                    <span class="small text-danger" asp-validation-for="address2"></span>

                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">

                    <input type="text" asp-for="city" id="city-adminprofile"
                           class="form-control m"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">City</label>
                    <span class="small text-danger" asp-validation-for="city"></span>

                </div>
                <div class="col-12 col-sm-6 form-floating">


                    <select class="form-select form-select-lg  fs-6 shadow-none" aria-label=".form-select-lg example" asp-for="selectedstate">
                        @foreach (var item in Model.regionlist)
                        {
                            <option class="fs-6">@item.Name</option>
                        }
                    </select>
                    <label for="floatingTextarea" class="text-secondary ms-3">State</label>
                    @* <span class="small text-danger" asp-validation-for="state"></span> *@

                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">

                    <input type="text" asp-for="zip" id="zip-adminprofile"
                           class="form-control m"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ps-4">Zip</label>
                    <span class="small text-danger" asp-validation-for="zip"></span>

                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <div class="form-control p-0">
                        <input id="alterphonenumber-CreateAdmin" asp-for="alterphonenumber"
                               type="tel"
                               name="PhoneNumber"
                               style="border: none; padding: 18px 2% 15px 50px; width:inherit" />

                    </div>
                    <span class="small text-danger" asp-validation-for="alterphonenumber"></span>
                </div>

                <div class="d-flex justify-content-end col-12 pb-3">
                    <button type="submit" class="btn btn-success text-white px-4 me-2">Create Account</button>
                </div>

            </div>
        </form>
    </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>
    $("#createAdminAccountForm").submit(function (event) {
        debugger;
        event.preventDefault();
        if ($("#createAdminAccountForm").valid()) {
            var formData = new FormData(this);
            $('input[type="checkbox"]:checked').each(function () {
                formData.append("selectedregion",$(this).val());
            });
            $.ajax({
                url: '/Admin/CreateAdminAccount',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    window.location.href = "https://localhost:44300/";
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error while updating physician info:', errorThrown);
                }
            });
        }
    });

    $('.emailadminprofileblur').on('blur', function () {

        var email = $('.emailadminprofileblur').val();
        console.log(email);
        $.ajax({
            url: '/Admin/ValidateEmail',
            type:'POST',
            data:{email},
            success: function (response) {
            },
            error: function (xhr, textStatus, errorThrown) {
                $('.emailadminprofileblur').val("");

                Swal.fire("Email already Exist!");
            }
        })
    })
</script>

