@using Services.Viewmodels
@model List<allrequestdataViewModel>;



<div class="table-responsive mx-4 bg-white pt-2 d-none d-md-block export-download" >
    <table class="table mt-5 small align-middle " id="dtBasicExample">
        <thead>
            <tr class="bg-light">
                <th class="d-none"></th>
                <th class="d-none"></th>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requestor Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {


                var color = "green-dot";

                switch (item.RequestType)
                {
                    case 1:
                        {
                            color = "green-dot";
                            break;
                        }
                    case 2:
                        {
                            color = "orange-dot";
                            break;
                        }
                    case 3:
                        {
                            color = "pink-dot";
                            break;
                        }
                    case 4:
                        {
                            color = "cyan-dot";
                            break;
                        }
                    default:
                        {
                            color = "purple-dot";
                            break;
                        }
                }

                <tr class="@color">
                    <td class="d-none">@item.RequestType</td>
                    <td class="d-none">@item.RegionId</td>
                    <td>
                        <div class="d-flex justify-content-between align-items-center">

                            @item.PatientName <div class="btn btn-outline-light btn-sm"><i class="fa-regular fa-envelope fa-sm"></i></div>
                        </div>
                    </td>
                    <td>@item.PatientDOB</td>
                    <td>@item.RequestTypeName(item.RequestType)</td>
                    <td>@item.RequestedDate</td>
                    <td>
                        <div class="border rounded-1 p-1 d-flex justify-content-around ">
                            <i class="bi bi-telephone"></i>
                            @item.PatientPhone
                        </div>
                        <small>(Patient)</small>



                        @if (item.RequestType == 2 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Family/Friend)</small>

                        }
                        @if (item.RequestType == 3 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Concierge)</small>

                        }
                        @if (item.RequestType == 4 && item.RequestorPhone != null)
                        {
                            <div class="border rounded-1 p-1 d-flex justify-content-around ">
                                <i class="bi bi-telephone"></i>
                                @item.PatientPhone
                            </div>
                            <small>(Business)</small>

                        }
                    </td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">@item.Address</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">@item.Notes</td>
                    <td>
                        @item.ProviderEmail
                        <div class="d-flex">

                            <button class="btn btn-outline-light p-1 shadow-none"
                                    type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-person-badge-fill"></i>
                                <span>
                                    Provider
                                </span>
                            </button>

                        </div>
                    </td>
                    <td>
                        <div class="dropstart ms-2">


                            <button class="btn btn-outline-light shadow-none" type="button" data-bs-toggle="dropdown" id="drop" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button type="button" class="dropdown-item text-secondary getname" id="@item.RequestId" data-toggle="modal" data-target="#exampleModalAssign">
                                        <i class="fa-regular fa-rectangle-list me-2"></i>Assign case
                                    </button>
                                </li>
                                <li>
                                    @*<a class="dropdown-item text-secondary" >
                                </a>*@

                                    <button type="button" value="@item.PatientName" class="dropdown-item text-secondary getname" id="@item.RequestId" value="@item.PatientName" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa-regular fa-circle-xmark me-2"></i>Cancel case
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item text-secondary Viewcase" value="@item.RequestId">
                                        <i class="bi bi-view-list me-2"></i>
                                        View case
                                    </button>
                                </li>
                                @*asp-action="ViewCase" asp-controller="Admin" asp-route-requestid="@item.RequestId"*@
                                <li>
                                    <button value="@item.RequestId" class="dropdown-item text-secondary viewNotes">
                                        <i class="fa-solid fa-book-journal-whills me-2"></i>View Notes
                                    </button>
                                </li>
                                <li>
                                    <button type="button" id="@item.RequestId" value="@item.PatientName" class="dropdown-item text-secondary getname" data-toggle="modal" data-target="#exampleModalBlock">
                                        <i class="fa-regular fa-circle-xmark me-2"></i>Block case
                                    </button>
                                </li>
                            </ul>


                        </div>
                    </td>


                </tr>
            }


        </tbody>
    </table>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>





<div class="accordion accordion-flush d-md-none d-block" id="accordionFlushExample">

    <div class="accordion-item">
        @foreach (var item in Model)
        {
            var color = "green-dot";

            switch (item.RequestType)
            {
                case 1:
                    {
                        color = "green-dot";
                        break;
                    }
                case 2:
                    {
                        color = "orange-dot";
                        break;
                    }
                case 3:
                    {
                        color = "pink-dot";
                        break;
                    }
                case 4:
                    {
                        color = "cyan-dot";
                        break;
                    }
                default:
                    {
                        color = "purple-dot";
                        break;
                    }
            }

            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseone-@item.RequestId" aria-expanded="false" aria-controls="flush-collapseone-@item.RequestId" style="background-color:#e7f1ff; color:black;">

                    <div class="col d-flex flex-column">
                        <span class="d-none requesttype-accordion">@item.RequestType</span>
                        <span class="d-none region-accordion">@item.RegionId</span>
                        <span class="patient-name">@item.PatientName</span>
                        <span class=" mt-4">@item.Address</span>
                        <span class="mt-3"><i class="bi bi-clock text-info h6 me-2 icns"></i>Wait Time: DEC5, 2023</span>
                    </div>
                    <div class="col d-flex flex-column text-end mt-2 p-0">
                        <div>
                            <div>
                                <span>@item.RequestTypeName(item.RequestType)</span>
                                <i class="bi bi-circle-fill @color"></i>
                            </div>
                            <div class="btn text-info border-info float-end p-0 mt-3 rounded-pill py-1 px-3" style="font-size:14px;">
                                Map Location
                            </div>

                        </div>

                    </div>
                </button>
                <hr class="m-0">
            </h2>

            <div id="flush-collapseone-@item.RequestId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="background-color:#e7f1ff; color:black">
                <div class="d-flex justify-content-end">
                    <button type="button" class="rounded-pill me-3 viewCaseBtn px-2 py-1 small Viewcase" value="@item.RequestId" style="cursor : pointer">
                        View Case
                    </button>
                </div>

                <div class="accordion-body d-flex flex-column gap-1">
                    <div><i class="bi bi-calendar2-minus me-2 icn"></i>Date of birth: @item.PatientDOB</div>
                    <div><i class="bi bi-envelope me-2 icn"></i>Email: @item.PatientEmail</div>
                    <div><i class="bi bi-telephone me-2 icn"></i>Patient: @item.PatientPhone</div>
                    <div><i class="bi bi-person me-2 icn"></i>Requestor: @item.RequestorName</div>
                </div>
                <div class="container-fluid ">

                    <div class="row gy-2">

                        <div class="col-6 d-flex justify-content-center">
                            <button type="button" class="btn w-100 text-white rounded-pill p-1 btn-sm text-secondary getname" style="background:#c40eff;" id="@item.RequestId" data-toggle="modal" data-target="#exampleModalAssign">
                              
                                Assign case
                            </button>
                        </div>
                        <div class="col-6 d-flex justify-content-center">

                            <button type="button" value="@item.PatientName" class="btn w-100 bg-danger text-white rounded-pill p-1 btn-sm text-secondary getname" id="@item.RequestId" value="@item.PatientName" data-toggle="modal" data-target="#exampleModal">
                                
                                Cancel case
                            </button>
                        </div>



                        <div class="col-6 d-flex justify-content-center">

                            <button value="@item.RequestId" class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm text-secondary viewNotes">
                              
                                View Notes
                            </button>
                        </div>

                        <div class="col-6 d-flex justify-content-center">

                            <button type="button" id="@item.RequestId" value="@item.PatientName" class="btn w-100 bg-danger text-white rounded-pill p-1 btn-sm text-secondary getname" data-toggle="modal" data-target="#exampleModalBlock">
                               
                                Block Patient
                            </button>
                        </div>

                        <div class="col-6 d-flex justify-content-center">
                            <a class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm">Email</a>
                        </div>


                    </div>
                </div>
            </div>
        }
    </div>
</div>




<script src="~/js/Admin/TableContent.js" asp-append-version="true"></script>
