@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@using Services.Viewmodels
@model ViewUploadModel

<Partial name="notification" />

<div class="container mt-3">
    <div class="margin-viewdoc">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex h4">
                Documents
            </div>
            <div class="d-flex">
                <a asp-controller="Admin" asp-action="Admindashboard" class="text-decoration-none">
                    <span class="back-btn" style="color: #00b8e6;">&lt;Back</span>
                </a>
            </div>

        </div>
        <div class="bglight rounded p-3 shadow mt-3" id="content">
            <span class="text-secondary">Patient Name</span>

            <div class="mt-1">
                <span class="h4 text-info">@Model.FirstName @Model.LastName</span>
                <span>
                    (@Model.ConfirmationNumber)
                </span>

                <p class="small text-secondary mt-2">Check here review and add files that you or the Client/Members has attached to the Request.</p>

                <form>
                    <div class="row d-flex mt-3">
                        <div class="py-2 col-12 ">
                            <div class="form-group rounded d-flex align-items-center justify-content-between border border-2 uploadbtndiv">
                                <div class="px-3 table-responsive w-100">
                                    <input type="file" id="actual-btn" asp-for="upload" multiple hidden />
                                    <input type="number" class="RequestsId" value="@Model.requestId" hidden />
                                    <label role="button" for="actual-btn" id="file-chosen" class="choosenfile text-nowrap text-secondary w-100">No item selected</label>
                                </div>
                                <button type="button" class="uploadbtn px-2 py-1 d-flex ms-1 border-0">
                                    <label role="button" class="d-flex align-items-center">
                                        <i class="bi bi-cloud-arrow-up p-2"></i>
                                        <div>Upload</div>
                                    </label>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                </div>

                <div>
                    <div class="d-flex flex-row justify-content-between mt-4">
                        <div class="d-flex h5">
                            Documents
                        </div>
                        <div class="d-flex">
                            <button role="button" class="btn btn-outline-info shadow-none mx-1" onclick="downloadSelectedFiles()">
                                <i class="bi bi-cloud-arrow-down me-sm-2"></i>
                                Download All
                            </button>


                            <button role="button" class="btn btn-outline-info shadow-none mx-1" id="DeleteAllFiles">
                                @*<i class="bi bi-trash3 me-sm-2"></i>*@
                                Delete All
                            </button>
                            <button role="button" class="btn btn-outline-info shadow-none mx-1" id="sendEmail">
                                @*<i class="bi bi-envelope me-sm-2"></i>*@
                                Send Mail
                            </button>



                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table mt-2">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"><input type="checkbox" id="doc" /></th>
                                    <th scope="col">Documents</th>
                                    <th scope="col">Upload Date</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in Model.totalFiles)
                                {
                                    <tr>
                                        <td><input type="checkbox" class="child" name="checkdoc" value="@m.Requestwisefileid" /></td>
                                        <td class="text-black">
                                            @m.Filename.Substring(45)
                                        </td>
                                        <td class="text-black">@m.Createddate</td>
                                        @*  <td>
                                    <a role="button" class="p-1 text-info border rounded-2 border-info text-decoration-none" href="~/upload/@System.IO.Path.GetFileName(@m.Filename)" download>
                                    <span class="p-1 text-info border rounded-2 border-info">
                                    <i class="bi bi-cloud-arrow-down"></i>
                                    </span>
                                    </a>
                                    <span role="button" class="p-1 text-info border rounded-2 border-info mx-1">
                                    <i class="bi bi-trash3"></i>
                                    </span>
                                    </td>*@

                                        <td>
                                            <a class="text-decoration-none" href="~/upload/@System.IO.Path.GetFileName(@m.Filename)" download>

                                                <i class="bi bi-cloud-arrow-down  btn btn-outline-info"></i>
                                            </a>

                                            <button type="button" class="btn btn-outline-info deleteadmin" value="@m.Requestwisefileid">
                                                <i class="bi bi-trash  "></i>
                                            </button>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="~/js/Admin/ViewUpload.js" asp-append-version="true"></script>
