@{
    Layout = "_Provider";
}

@using Services.Viewmodels
@model AdminDashboardViewModel;


@Html.Partial("notification")

@*send link modal*@

<div class="modal fade rounded-3 shadow" id="SendLinkAdminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Send Link</h5>
                <button class="btn" type="button" data-dismiss="modal">
                    <i class="fa-solid fa-xmark" style="color: #ffffff;"></i>
                </button>
            </div>
            <form asp-action="SendLinkAdminModal" method="post">
                <div class="modal-body">

                    <small class="text-secondary">To Send Create Patient Request Page in Email And Phone</small>
                    <div class="form-floating mt-3">
                        <input type="text" id="sendlink-name-modal" class="form-control shadow-none" name="name" placeholder="Name">
                        <label class="FloatingInput">Name</label>
                        <span class="small text-danger" id="sendlink-name"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input type="text" id="sendlink-phonenumber-modal" class="form-control shadow-none" name="phonenumber" placeholder="Phonenumber" maxlength="10">
                        <label class="FloatingInput">Phonenumber</label>
                        <span class="small text-danger" id="sendlink-phonenumber"></span>

                    </div>

                    <div class="form-floating mt-3">
                        <input type="email" id="sendlink-email-modal" class="form-control shadow-none" name="email" placeholder="Email">
                        <label class="FloatingInput">Email</label>
                        <span class="small text-danger" id="sendlink-email"></span>

                    </div>


                </div>
                <div class="modal-footer border-0 pt-0 pb-3">
                    <button type="button" class="btn btn-info text-white shadow-none" id="sendlink-submit">Send</button>
                    <button type="button" class="btn btn-outline-info shadow-none" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*Clear Case Modal *@
<div class="modal fade rounded-3 shadow" id="ClearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content py-4">
            <form asp-action="ClearModal" method="post">
                <div class="modal-body py-0">
                    <div class="d-flex justify-content-center py-4">

                        <img src="/images/alert.png" class="w-25 h-25 d-flex justify-content-center" />
                    </div>
                    <input type="number" name="requestid" class="requestid" />


                    <h4 class="d-flex justify-content-center">Confirmation For Clear Case</h4>

                    <div class="d-flex justify-content-center align-items-center text-secondary px-4 py-2">
                        <p class="d-flex justify-content-center small">Are sure you want to clear this request? Once clear this request then you are not able to see this request</p>
                    </div>
                </div>
                <div class="modal-footer border-0 d-flex justify-content-center py-0">
                    <button type="submit" class="btn btn-info text-white">Clear</button>
                    <button type="button" class="btn btn-outline-info shadow-none" data-dismiss="modal">Cancle</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*Encounter Modal *@
<div class="modal fade rounded-3 shadow" id="exampleModalEncounter" tabindex="-1" role="dialog" aria-labelledby="exampleModalEncounter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="staticBackdropLabel">Select Type Of Care</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body  justify-content-center">
                <input type="number" name="requestid" class="requestid" hidden />

                <div class="d-flex justify-content-center align-items-center">
                    <div class="px-2">
                        <input type="radio" class="btn-check housecall" name="options-outlined" id="success-outlined" value="Housecall" autocomplete="off">
                        <label class="btn btn-outline-info" for="success-outlined">Housecall</label>
                    </div>
                    <div class="px-2">
                        <input type="radio" class="btn-check consult" name="options-outlined" id="danger-outlined" value="Consult" autocomplete="off">
                        <label class="btn btn-outline-info" for="danger-outlined">Consult</label>
                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button class="btn btn-info shadow-none encounter-save" type="button" role="button">Save</button>
                <button class="btn border border-1 border-info text-info shadow-none" data-dismiss="modal" role="button" type="button">Cancel</button>
            </div>



        </div>
    </div>
</div>

@*Send agreement*@

<div class="modal fade rounded-3 shadow" id="exampleModalAgreement" tabindex="-1" role="dialog" aria-labelledby="exampleModalAgreement" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Send Agreement</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <i class="bi bi-circle-fill" id="requesttype-dot"></i> &nbsp;<span id="requesttype-agreement"></span>
                <form asp-action="SendAgreementModal" asp-controller="Admin" method="post">
                    <small class="text-secondary">To Send Agreement please make sure you are updating the correct contact information below for the responsible party.</small>
                    <input type="number" name="requestid" class="requestid" />


                    <div class="form-floating mt-3">
                        <input type="text" id="agreement-phone" class="form-control shadow-none" placeholder="Phone Number" maxlength="10">
                        <label class="FloatingInput" for="Phone Number">Phone Number</label>
                        <span id="SendAgreementModalphoneSpan" class="small text-danger"></span>

                    </div>


                    <div class="form-floating mt-4">
                        <input type="email" id="agreement-email" class="form-control shadow-none" placeholder="Email" name="email">
                        <label class="FloatingInput" for="Email">Email</label>
                        <span id="SendAgreementModalemailSpan" class="small text-danger"></span>

                    </div>


                    <div class="d-flex float-end mt-4">
                        <button id="SendAgreementModalSubminbtn" type="button" class="btn btn-info text-white mx-2 shadow-none">Send</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



@*cancel modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Confirm Cancellation</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="cancelCaseModal" method="post">
                    <div class="mb-3">Patient Name : <span class="patientname text-info fw-semibold"></span> </div>
                    <input type="number" name="id" class="requestid" hidden />


                    <div class="form-group">
                        <select id="CancelModalFirstDropDownSelect" class="form-select form-select-lg fs-6 shadow-none" aria-label=".form-select-lg example">
                            <option class="fs-6" selected hidden value="">Reason for Cancellation</option>
                            @foreach (var item in Model.casetags)
                            {
                                <option class="fs-6">@item.Name</option>
                            }

                        </select>
                        <span id="CancelModalFirstDropDownSpan" class="small text-danger"></span>
                    </div>
                    <div class="form-floating mt-3">
                        <textarea id="CancelModalNote" class="form-control shadow-none" asp-for="blocknotes" placeholder="Patient Notes" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Provide Additional Notes</label>
                        <span id="CancelModalNoteSpan" class="small text-danger"></span>

                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="CancelModalSubminbtn" class="btn btn-info text-white mx-2 shadow-none">Confirm</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


@*Trasnfer modal provider*@

<div class="modal fade" id="exampleModalTransfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Transfer Request</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="TransferModal" asp-controller="ProviderSide" method="post">
                    <small class="text-secondary">This request will be transferred to admin.</small>
                    <input type="number" name="requestid" class="requestid" />


                    <div class="form-floating mt-3">
                        <textarea id="TransferModalNote" class="form-control shadow-none" placeholder="Description" style="height: 100px" asp-for="blocknotes"></textarea>
                        <label for="floatingTextarea2">Description</label>
                        <span id="TransferModalNoteSpan" class="small text-danger"></span>

                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="TransferModalSubminbtn" class="btn btn-info text-white mx-2 shadow-none">Submit</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



@*block modal*@
<div class="modal fade" id="exampleModalBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Confirm Block</h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="BlockCaseModal" method="post">
                    <input type="number" name="requestid" class="requestid" hidden />
                    <div class="mb-3">Patient Name : <span class="patientname text-info fw-semibold"></span> </div>


                    <div class="form-floating">
                        <textarea id="BlockModalNote" class="form-control shadow-none" asp-for="blocknotes" placeholder="Reason for Block Request" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Reason for Block Request</label>
                        <span id="BlockModalNoteSpan" class="small text-danger"></span>

                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="BlockModalSubminbtn" class="btn btn-info text-white mx-2 shadow-none">Confirm</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        



        <div class="container-fluid p-0 p-sm-3">
            <nav>
                <div class="nav nav-tabs row g-0 border-0 mt-4" id="status-tab" role="tablist">
                    <div class="allstatus ">
                        <button class="w-100 nav-link dashboardtab active position-relative" id="status-new" data-bs-toggle="tab" data-bs-target="#s_new" type="button" role="tab" aria-controls="s_new" aria-selected="true">
                            <div class="p-2 new rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons float-start"><i class="bi bi-plus-circle-dotted"></i></div><div class="small fw-bold">NEW</div>
                                </div>
                                <div class="fw-bolder fs-4 px-2 pt-2 text-start">

                                    @Model.requests.Count(x => x.Status == 1)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>
                    <div class="allstatus ">
                        <button class="w-100 nav-link dashboardtab position-relative" id="status-pending" data-bs-toggle="tab" data-bs-target="#s_pending" type="button" role="tab" aria-controls="s_pending" aria-selected="false">
                            <div class="p-2 pending rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons float-start"><i class="bi bi-person-exclamation"></i></div><div class="small fw-bold">PENDING</div>
                                </div>
                                <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                                    @Model.requests.Count(x => x.Status == 2)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>

                    <div class="allstatus ">
                        <button class="w-100 nav-link dashboardtab position-relative" id="status-active" data-bs-toggle="tab" data-bs-target="#s_active" type="button" role="tab" aria-controls="s_active" aria-selected="false">
                            <div class="p-2 activecase rounded-3">
                                <div class="d-flex">
                                    <div class="px-2 icons float-start"><i class="bi bi-check2-circle"></i></div><div class="small fw-bold">ACTIVE</div>
                                </div>
                                <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                                    @Model.requests.Count(x => x.Status == 4 || x.Status == 5)

                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>


                    <div class="allstatus">
                        <button class="nav-link dashboardtab position-relative w-100" id="status-conclude" data-bs-toggle="tab" data-bs-target="#s_conclude" type="button" role="tab" aria-controls="s_conclude" aria-selected="false">
                            <div class="p-2 conclude rounded-3">
                                <div class="d-flex">
                                    <div class="px-2  icons float-start"><i class="bi bi-arrow-clockwise"></i></div><div class="small fw-bold">CONCLUDE</div>
                                </div>
                                <div class="fw-bolder fs-4 px-2 pt-2 text-start">
                                    @Model.requests.Count(x => x.Status == 6)
                                </div>
                            </div>
                            <div class="bottomarrow"></div>
                        </button>
                    </div>


                </div>
            </nav>

            <div class="d-flex flex-row justify-content-between mx-4 mt-4">
                <div class="d-flex align-items-center">
                    <div class="h4" style="font-size:clamp(18px,4vw,22px);">
                        Patients<small class="h6" style="color:#203f9a; font-size:clamp(12px,1.8vw,16px);" id="state"> (New)</small>
                    </div>
                </div>
                <div class="d-flex">

                    <div class="px-0 px-sm-2 p-1 p-sm-2 text-white mx-1 bg-info rounded small" role="button">
                        <button class="bg-info border-0 text-white p-md-0" data-toggle="modal" data-target="#SendLinkAdminModal">

                            <i class="fa-regular fa-paper-plane "></i>
                            <span class="d-none d-md-inline-block ps-1 fontsize">
                                Send Link
                            </span>
                        </button>
                    </div>
                    <div class="px-0 px-sm-2 p-1 p-sm-2 text-white mx-1 bg-info rounded small" role="button">
                        <a class="bg-info border-0 text-white text-decoration-none px-1" asp-action="CreateRequestAdmin" asp-controller="Admin">

                            <i class="fa-solid fa-file-pen "></i>
                            <span class="d-none d-md-inline-block ps-1 fontsize">Create Requests</span>
                        </a>

                    </div>
                  

                </div>
            </div>

            <div class="container-fluid  mt-3">
                <div class="row mx-1  rounded-top-4 py-3 bg-white d-sm-flex d-block justify-content-between bg-white px-2">

                    @* <div class="d-flex justify-content-between mt-4 mx-4 bg-white rounded-top-4">
                    <div class="d-flex flex-row p-3">*@

                    <div class="d-flex rounded-2 border border-info col-12 col-md-3 col-xl-2 col-lg-3 py-2">
                        <span class="search-icon"></span>
                        <input id="searchInput" class="form-control search-input fontsize border-0 shadow-none p-0" type="search" placeholder="Search Patients" aria-label="Search">
                    </div>
                   
                    <div class="col-12 col-md-6 col-lg-7 col-xl-8 d-inline-block d-md-flex justify-content-end align-items-center mt-sm-2 mt-4 mb-2 pe-0">

                        <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs selected-border">
                            <input type="radio" class="btn-check" name="requestby" id="requestbyAll" autocomplete="off">
                            <label class="fontsize btn p-0 p-xl-2 font-size-xs border-0 shadow-none" for="requestbyAll">All</label>
                        </div>
                        <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1 width-xs">
                            <input type="radio" class="btn-check" name="requestby" id="1" autocomplete="off">
                            <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:   #5fbc61;"></i>

                            <label class="fontsize btn p-0 p-xl-2 border-0 font-size-xs" for="1">Patient</label>
                        </div>
                        <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                            <input type="radio" class="btn-check" name="requestby" id="2" autocomplete="off">
                            <i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #ed9124;"></i>
                            <label class="fontsize btn p-0 p-xl-2 border-0" for="2">Family</label>
                        </div>
                        <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                            <input type="radio" class="btn-check" name="requestby" id="3" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1  d-flex justify-content-center align-items-center" style="color:   #e36478;"></i>
                            <label class="fontsize btn p-0 p-xl-2 border-0" for="3">Concierge</label>
                        </div>
                        <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center px-sm-2 pe-1">
                            <input type="radio" class="btn-check" name="requestby" id="4" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #0c7db7;"></i>
                            <label class="fontsize btn p-0 p-xl-2 border-0" for="4">Business</label>
                        </div>
                        <div class="d-inline-block d-sm-inline-flex justify-content-center align-items-center ps-sm-2 ">
                            <input type="radio" class="btn-check" name="requestby" id="5" autocomplete="off"><i class="fa-solid fa-circle fa-2xs pe-1 d-flex justify-content-center align-items-center" style="color:  #943db8;"></i>
                            <label class="fontsize btn p-0 p-xl-2 border-0" for="5">VIP</label>
                        </div>
                    </div>

                </div>
            </div>



            <div class="tab-content mx-3 bg-white" id="status-tabContent">
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saver"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>

<script src="~/js/Admin/excel-download.js" asp-append-version="true"></script>



<style>
    .fontsize {
        font-size: clamp(0.7rem,1.4vw,1rem);
    }

    .selected-border {
        border-bottom: 1px solid #00b8e6; /* Customize the border color and thickness */
    }
</style>

<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    const radioDivs = document.querySelectorAll('.d-inline-block');
    radioButtons.forEach((radio, index) => {
        radio.addEventListener('click', () => {
            radioDivs.forEach((div, divIndex) => {
                if (index - 1 === divIndex) {
                    div.classList.add('selected-border');
                } else {
                    div.classList.remove('selected-border');
                }
            });
        });
    });
</script>
<script src="/js/ProviderSide/CardWithTable.js" asp-append-version="true"></script>